html {
  background-image: url('/static/img/bg_main.gif');
}

body {
  margin: 0;
  padding: 60px 15px;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  color: #222;
  text-align: center;
}

div.dialog {
  background: #fff;
  max-width: 860px;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 6px #999;
  -moz-box-shadow: 0 0 6px #999;
  box-shadow: 0 0 6px #999;
  border: 3px solid #ccc;
}

body:first-of-type div.dialog {
  border: none;
}

div.innercol {
  padding: 20px 40px 20px 40px;
}

div.footer {
  margin-top: 50px;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

h1 {
  color: #000;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #333;
  max-width: 600px;
  margin: 0 auto;
}

h5 {
  font-weight: normal;
  color: #666;
}

p {
  font-size: 14px;
  line-height: 21px;
  color: #666;
}

a,a:link,a:visited {
  text-decoration: none;
  color: #477B96;
}

a:hover,a:visited:hover {
  text-decoration: underline;
}

ul.downloads {
  list-style: none;
  margin: 40px 0 20px 0;
  padding: 0;
  overflow: hidden;
}

ul.downloads li {
  float: left;
  text-align: center;
  width: 25%;
}

ul.downloads div {
  border-left: 1px solid #efefef;
  padding: 0;
}

ul.downloads div.first {
  border-left: none;
}

ul.downloads h4 {
  margin: 0 0 2px 0;
}

ul.downloads h4 a {
  padding-top: 76px;
  display: block;
  background: transparent url("/static/img/browser.png") no-repeat top
    center;
}

ul.downloads h4#download_firefox a {
  background-position: center -144px;
}

ul.downloads h4#download_chrome a {
  background-position: center -288px;
}

ul.downloads h4#download_safari a {
  background-position: center -432px;
}

div.contact_support_button a {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3 );
  margin-left: -10px;
}

body:first-of-type div.contact_support_button a {
  margin-left: -28px;
}

div.contact_support_button a:hover {
  margin-left: -5px;
}

body:first-of-type div.contact_support_button a:hover {
  margin-left: -23px;
}

@media screen and (max-width: 400px) {
  body {
    padding: 0;
  }
  div.dialog {
    margin: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 10;
    border-radius: 0;
  }
}