@charset "utf-8";

#calendar {
  margin: 0 auto;
  font-family: 'Segoe UI';
  background: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.popbox {
  position: absolute;
  z-index: 2000;
}

.popbox .popbox-arrow {
  position: absolute;
  background: url(/static/img/pop-arrow.png) no-repeat 0 0;
}

.popbox-right .popbox-arrow {
  width: 40px;
  height: 50px;
  background-position: -10px -100px;
}

.popbox .popbox-content {
  background: #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.tcal-add-event {
  display: none;
  padding: 10px 15px;
  z-index: 300;
}

.clearfix {
  zoom: 1;
}

.tcal-add-event .txt-event-content {
  width: 300px;
  height: 100px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #aac5cd;
  -moz-box-shadow: inset 0 2px 1px #e1e1e1;
  -webkit-box-shadow: inset 0 2px 1px #e1e1e1;
  box-shadow: inset 0 2px 1px #e1e1e1;
  background-color: #fafafa;
  font-size: 12px;
  overflow-y: auto;
  padding: 5px;
  resize: none;
  outline: none;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  -moz-transition: -moz-box-shadow 0.2s ease-in-out;
  -o-transition: -o-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  overflow-y: auto;
}

textarea {
  padding: 5px;
  font-size: 12px;
  overflow-y: auto;
}

.tcal-add-event .choose-team {
  margin: 10px 0 0 0;
}

.clearfix {
  zoom: 1;
}

.tcal-add-event .buttons {
  
}

.btn-blue {
  display: block;
  float: left;
  line-height: 30px;
  font-size: 14px;
  color: #ffffff;
  padding: 0 15px;
  margin: 0;
  border: none;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #43a5ea, #2277cc);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.tcal-add-event .link-cancel {
  float: left;
  color: #999999;
  margin: 0 0 0 10px;
  line-height: 32px;
}

.tcal-add-event .link-delete {
  float: right;
  color: #ff3300;
  line-height: 32px;
}

.time-now {
  height: 1px;
  background: #2277cc;
  position: relative;
  box-shadow: 0px 0px 2px #a7c9eb;
}

.fc-agenda-days td.ui-widget-content.fc-today {
  background: #eaf6fc;
  border: 1px solid #efefef;
}

.worklog_personal .ui-widget-header {
  background: #fff;
}

.fc-agenda-days th.ui-widget-header {
  background: #fff;
  color: #999;
  font-size: 12px;
  font-weight: normal;
  border-width: 0 0 1px 0;
}

.fc-agenda-slots th.ui-widget-header {
  background: #fff;
  color: #999;
  font-size: 12px;
  font-weight: bold;
  border-right: 0;
}

.fc-button.ui-state-default:hover {
text-decoration: none;
background: #f7f7f7;
position: relative;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#fbfbfb));
background: -webkit-linear-gradient(top, #fbfbfb, #f3f3f3);
background: -moz-linear-gradient(top, #fbfbfb, #f3f3f3);
background: -ms-linear-gradient(top, #fbfbfb, #f3f3f3);
background: -o-linear-gradient(top, #fbfbfb, #f3f3f3);
background: linear-gradient(top, #fbfbfb, #f3f3f3);
-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.fc-button.ui-state-default.ui-state-active {
  border: 1px solid #cccccc;
  background: #cccccc;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd),color-stop(0.65, #f3f3f3), to(#f3f3f3) );
  background: -webkit-linear-gradient(top, #dddddd, #f3f3f3 65%);
  background: -moz-linear-gradient(top, #dddddd, #f3f3f3 65%);
  background: -ms-linear-gradient(top, #dddddd, #f3f3f3 65%);
  background: -o-linear-gradient(top, #dddddd, #f3f3f3 65%);
  background: linear-gradient(top, #dddddd, #f3f3f3 65%);
  -webkit-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.2);
}

.fc-button .ui-icon {
  background-image: url(../img/icons.png);
  margin:0;
  width: 25px;
  height: 25px;
}

.fc-button .ui-icon-circle-triangle-w {
  background-position: -58px -52px;
}

.tcal-add-event .choose-labels label{
  float: left;
}

.fc-button .ui-icon-circle-triangle-e {
  background-position: -38px -52px;
}