@CHARSET "UTF-8";

.container.company-select {
  padding: 25px 40px;
  margin: 35px auto;
  width: 450px;
  font-family: arial, helvetica, sans-serif;
}

.company-select h2 {
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 1.2em;
  position: relative;
}

.company-select ol {
  list-style: none;
  line-height: 20px;
  margin: 0 0 1.6em;
  width: 100%;
}

.company-select ol li {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: 0;
  height: 70px;
  margin: 0 -10px;
  padding-left: 70px;
  padding-right: 32px;
  cursor: pointer;
  position: relative;
  list-style: none;
}

.company-select ol li:last-of-type {
  border-bottom: 1px solid #ddd;
}

.company-select ol li .company-image {
  background-image: url('/static/img/favicon.png');
  background-repeat: no-repeat;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10;
}
.company-select ol li .company-name,
.company-select ol li .company-description {
  position: absolute;
  top: 0;
  display: inline-block;  
  width: 70%;
}

.company-select ol li .company-name {
  margin-top: 15px;
  color: #17c;
  vertical-align: top;
  font-weight: 700;
}
.company-select ol li .company-description {
  font-size: 13px;
  margin-top: 36px;
  color: #666;
}
.company-select ol li .company-select {
  background: url("/static/img/common/chooser.png") top left no-repeat;
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 12px;
  width: 30px;
  height: 30px;
}

#companyCommand label {
  display: block;
  font-weight: 700;
  padding: .2em 0 .5em;
  margin-bottom: 0;
}

#companyCommand .company-name {
  width: 100%;
  height: 32px;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 0;
}